body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

header {
    background-color: #000;
    color: #fff;
    padding: 15px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.header .logo {
    display: flex;
    align-items: center;
    margin-right: 30px;
}

.triangle-logo {
    width: 40px;
    height: 40px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.header .nav {
    display: flex;
    gap: 50px;
    align-items: center;
}

.nav-item {
    color: #fff;
    cursor: pointer;
    position: relative;
    font-size: 16px;
    text-align: left;
}

.nav-item:hover {
    color: #FFD700;
}

.dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #000;
    color: #fff;
    flex-direction: column;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    min-width: 150px;
}

.nav-item:hover .dropdown-menu {
    display: flex;
}

.dropdown-menu a {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    white-space: nowrap;
}

.dropdown-menu a:hover {
    background-color: #FFD700;
    color: #000;
}

.nav-icon {
    width: 30px; 
    height: 30px; 
    object-fit: contain; 
    -webkit-filter: brightness(0) invert(1);
    filter: brightness(0) invert(1);
}

.section-title {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px 0;
    font-size: 20px;
    font-weight: bold;
}

.section-title::before,
.section-title::after {
    content: '';
    flex: 1;
    border-bottom: 1px solid #ddd;
    margin: 0 20px;
}

p a {
    font-size: 40px;
    text-align: center;
    display: inline-block;
    padding: 15px 30px;
    background-color: #fff;
    color: #000;
    text-decoration: none;
    border: 2px solid #000;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
}

.mechanism-tag {
    display: inline-block;
    margin: 5px;
    padding: 8px 12px;
    background-color: #f5f5f5;
    color: #333;
    border-radius: 5px;
    border: 1px solid #ddd;
    font-size: 14px;
}
.footer {
    background: #000;
    color: #fff;
    padding: 20px;
    text-align: center;
    margin-top: 40px;
}
.footer h1 {
    font-size: 10px;
    color: #8e8e8e;
    margin-top: 20px;
}
.footer-nav {
    display: flex;
    justify-content: center;
    gap: 70px;
    font-size: 14px;
}
.footer-nav a {
    color: #fff;
    text-decoration: none;
}
.text-item {
    display: flex;
    margin: 0;
    padding-left: 10px;
}
.footer-nav ul {
    padding-left: 10px;
}
.footer-nav li {
    font-size: 10px;
    color: #8e8e8e;
    text-align: left;
    padding-top: 2px;
}
.footer-nav li:hover {
    color: #FFD700;
}
.footer-nav li a {
    font-size: 10px;
    color: #8e8e8e;
    text-align: left;
}
.footer-nav li a:hover {
    color: #FFD700;
}

.pdf-container {
    display: block;
    width: 100%;
    height: 100vh;
    border: none;
    overflow: auto;
}
h1.text-center {
    font-size: 2.5rem;
    font-weight: bold;
    color: #333; 
    margin-bottom: 20px;
    text-align: center;
    position: relative;
    margin-top: 30px;
}
h1.text-center::before,
h1.text-center::after {
    content: '';
    flex: 1;
    border-bottom: 1px solid #ddd;
    margin: 0 20px;
}
.img-slide {
    width: 100%;
    height: auto;
    max-height: 500px;
    object-fit: cover;
}

.carousel-caption {
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    padding: 10px;
    text-align: left;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
}

.text-link-container {
    text-align: center;
    margin: 20px 0;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.text-link-container p {
    font-size: 16px;
    color: #333;
    margin-bottom: 10px;
}

.text-link-container .btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    color: #ffffff;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.text-link-container .btn:hover {
    background-color: #0056b3;
}

/* いいね数とボタンのコンテナ */
.like-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 15px;
    margin-top: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

/* いいねボタンのスタイル */
.like-button {
    margin-top: 10px;
    padding: 8px 16px;
    font-size: 14px;
    font-weight: bold;
    color: #ffffff;
    background-color: #28a745;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.like-button:hover {
    background-color: #218838;
}

.sort-button {
    display: inline-block;
    margin: 10px 0;
    padding: 8px 16px;
    font-size: 14px;
    font-weight: bold;
    color: #ffffff;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.sort-button:hover {
    background-color: #0056b3;
}


@media (min-width: 768px) and (max-width: 1024px) {
    .header .nav-item {
        font-size: 16px;
        padding: 8px;
    }
    .footer-nav {
        gap: 30px;
    }
    p a {
        font-size: 40px;
        text-align: center;
        display: inline-block;
        padding: 15px 30px;
        background-color: #fff;
        color: #000;
        text-decoration: none;
        border: 2px solid #000;
        border-radius: 8px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
        transition: all 0.3s ease;
    }
}

@media (max-width: 768px) {
    .triangle-logo {
        width: 30px;
        height: 30px;
        margin-right: 5px;
        margin-top: 5px;
        margin-bottom: 5px;
    }
    .header .logo {
        display: flex;
        align-items: center;
        margin-right: 10px;
    }
    .header, header {
        padding: 10px;
    }
    .header .nav {
        gap: 10px;
        text-align: left;
    }
    .header .nav-item {
        padding: 5px;
        font-size: 12px;
        gap: 3px;
        text-align: left;
    }
    .dropdown-menu {
        position: absolute;
        top: 100%;
        left: 0;
        background: #000;
        color: #fff;
        display: none;
        flex-direction: column;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
        min-width: 120px;
        padding: 5px;
        z-index: 9999;
    }
    .dropdown-menu a {
        color: #fff;
        text-decoration: none;
        padding: 8px 13px;
        font-size: 12px;
        white-space: nowrap;
    }
    .dropdown-menu a:hover {
        background: #FFD700;
        color: #000;
    }
    p a {
        font-size: 40px;
        text-align: center;
        display: inline-block;
        padding: 15px 30px;
        background-color: #fff;
        color: #000;
        text-decoration: none;
        border: 2px solid #000;
        border-radius: 8px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
        transition: all 0.3s ease;
    }
    .nav-icon {
        width: 20px;
        height: 20px;
    }
    .footer-nav {
        gap: 20px;
        font-size: 12px;
    }
    .pdf-container {
        width: 100%;
        height: 80vh;
    }
}

@media (max-width: 576px) {
    .header .nav-item {
        font-size: 10px;
    }
    .nav-icon {
        width: 16px;
        height: 16px;
    }
    .header .nav {
        gap: 5px;
    }
    .footer-nav {
        gap: 15px;
        font-size: 10px;
    }
    p a {
        font-size: 20px;
        text-align: center;
        display: inline-block;
        padding: 15px 30px;
        background-color: #fff;
        color: #000;
        text-decoration: none;
        border: 2px solid #000;
        border-radius: 8px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
        transition: all 0.3s ease;
    }
    .pdf-container {
        width: 100%;
        height: 80vh;
    }
}

@media (max-width: 375px) {
    .header .nav-item {
        font-size: 8px;
    }
    .nav-icon {
        width: 16px;
        height: 16px;
    }
    .header .nav {
        gap: 4px;
    }
    .footer-nav {
        gap: 15px;
        font-size: 10px;
    }
    p a {
        font-size: 20px;
        text-align: center;
        display: inline-block;
        padding: 15px 30px;
        background-color: #fff;
        color: #000;
        text-decoration: none;
        border: 2px solid #000;
        border-radius: 8px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
        transition: all 0.3s ease;
    }
    .pdf-container {
        width: 100%;
        height: 80vh;
    }
}
