<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>だおだおテキスト</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/mainstyle.css') }}">
</head>
<body>
    <header class="header">
        <div class="logo">
            <a href="{{ url_for('main.index') }}">
                <img src="{{ url_for('static', filename='uploads/だおだおロゴ.png') }}" alt="だおだおテキスト" class="triangle-logo">
            </a>
        </div>
        <div class="nav">
            <div class="nav-item" onclick="toggleDropdown(this)">
                <img src="{{ url_for('static', filename='uploads/歯車.png') }}" alt="説明" class="nav-icon">
                機構の説明
                <div class="dropdown-menu">
                    <a href="{{ url_for('main.mechanism') }}">ロボット基礎知識</a>
                    <a href="{{ url_for('main.gears') }}">ギアの種類</a>
                    <a href="{{ url_for('main.movement') }}">移動方式</a>
                    <a href="{{ url_for('main.basic_mechanisms') }}">基本機構</a>
                    <a href="{{ url_for('main.sensors') }}">センサー</a>
                    <a href="{{ url_for('main.special_mechanisms') }}">特殊機構</a>
                </div>
            </div>
            <div class="nav-item" onclick="toggleDropdown(this)">
                <img src="{{ url_for('static', filename='uploads/リンク.png') }}" alt="リンク" class="nav-icon">
                リンク
                <div class="dropdown-menu">
                    <a href="{{ url_for('main.public_posts') }}">だおだお作成作品</a>
                    <a href="https://www.lego.com/ja-jp">LEGO公式サイト</a>
                    <a href="https://akiyuki.jp/">外部リンク1</a>
                    {% if session.get('user_type') %}
                    <a href="{{ url_for('main.public_post') }}">投稿</a>
                    {% endif %}
                </div>
            </div>
            <div class="nav-item" onclick="toggleDropdown(this)">
                <img src="{{ url_for('static', filename='uploads/作成依頼リンク.png') }}" alt="依頼" class="nav-icon">
                作成依頼リンク
                <div class="dropdown-menu">
                    <a href="https://docs.google.com/forms/d/e/1FAIpQLSdLXEhs-E4C8cFYCvby7iktfm9dJuClfRFH-XbwikIdS_pWBg/viewform">作成依頼Googleフォーム</a>
                    <a href="#">その他のリンク</a>
                </div>
            </div>
        </div>
        <div class="login-item">
            {% if 'user_id' in session %}
                <a href="{{ url_for('auth.logout') }}">
                    <img src="{{ url_for('static', filename='uploads/ログアウト.png') }}" alt="ログアウト" class="nav-icon">
                </a>
            {% else %}
                <a href="{{ url_for('auth.login') }}">
                    <img src="{{ url_for('static', filename='uploads/ログイン.png') }}" alt="ログイン" class="nav-icon">
                </a>
            {% endif %}
        </div>
    </header>

    <main class="main-content">
        <h1 class="title-plate">だおだおテキスト</h1>

        <div class="img-frame">
            <a href="{{ url_for('main.text_detail', id=1) }}" class="img-slide-link">
                <img src="{{ url_for('static', filename='uploads/クローラー.png') }}" alt="クローラー" class="img-slide">
            </a>
            <a href="{{ url_for('main.text_detail', id=4) }}" class="img-slide-link">
                <img src="{{ url_for('static', filename='uploads/エレベーター.png') }}" alt="エレベーター" class="img-slide">
            </a>
            <a href="{{ url_for('main.text_detail', id=7) }}" class="img-slide-link">
                <img src="{{ url_for('static', filename='uploads/ステアリングカー.png') }}" alt="ステアリングカー" class="img-slide">
            </a>
            <a href="{{ url_for('main.text_detail', id=2) }}" class="img-slide-link">
                <img src="{{ url_for('static', filename='uploads/ロボットハンド.png') }}" alt="ロボットハンド" class="img-slide">
            </a>
            <a href="{{ url_for('main.text_detail', id=8) }}" class="img-slide-link">
                <img src="{{ url_for('static', filename='uploads/ライントレース.png') }}" alt="ライントレース" class="img-slide">
            </a>
            <a href="{{ url_for('main.text_detail', id=10) }}" class="img-slide-link">
                <img src="{{ url_for('static', filename='uploads/六足歩行ロボット.png') }}" alt="六足歩行ロボット" class="img-slide">
            </a>
        </div>                     

        <section class="notice-title">
            <button class="toggle-button open" onclick="toggleDaodaoText()">だおだおテキストについて</button>

            <div id="daodao-text" class="hidden-content">
                <h2 class="title">### だおだおテキストとは？ ###</h2>
                <h2 class="notice">
                    当サイトは個人が運営する非公式のファンサイトであり、<br>
                    LEGO社およびその他の関連団体・組織とは一切関係ありません。
                </h2>
                <h3>
                    ＃注意事項：掲載されているテキストや創作物（画像、デザイン、アイデアを含む）の
                    著作権はすべて運営者に帰属します。これらの内容の無断転載、改変、再配布を固く禁じます。
                </h3>
            </div>
        </section>

        <div class="section-title">News</div>
        <div class="news-section">
            <div class="news-content">
                <div class="news-item">
                    <div class="news-date">2025.05.12</div>
                    <p class="news-text">RTステアリングカーのテキストを追加しました！</p>
                </div>
                <div class="news-item">
                    <div class="news-date">2025.02.10</div>
                    <p class="news-text">いいね機能を実装！お気に入りのテキストにいいねをしてみよう！</p>
                </div>
                <div class="news-item">
                    <div class="news-date">2025.02.02</div>
                    <img src="{{ url_for('static', filename='uploads/だおだおテレビ.png') }}" alt="daodaoterebi" class="news-image">
                    <p class="news-text">TBSテレビ、ジロジロ有吉に出演しました！</p>
                </div>
                <div class="news-item">
                    <div class="news-date">2025.02.01</div>
                    <p class="news-text">このテキストサイトはBeta版です。</p>
                </div>
            </div>
        </div>

        <div class="section-title">Text</div>
        <form method="get" action="{{ url_for('main.index') }}" id="search-form">
            <div class="mechanism">
                <details id="mechanism-details" open>
                    <summary>機構で絞り込む</summary>
                    <button type="button" class="clear-button" onclick="clearAllCheckboxes()">全選択解除</button>
                    <div class="box1">
                        <h3>ギア</h3>
                        <div class="button">
                            {% for mechanism in ["ラックギア", "べべルギア", "ノブホイールギア", "ターンテーブル"] %}
                            <label>
                                <input 
                                    type="checkbox" name="mechanisms" value="{{ mechanism }}" onchange="submitForm()" 
                                    {% if mechanism in selected_mechanism %}checked{% endif %}>
                                {{ mechanism }}
                            </label>
                            {% endfor %}
                        </div>
                        <h3>移動</h3>
                        <div class="button">
                            {% for mechanism in ["歩行", "走る", "すり足", "重心移動"] %}
                            <label>
                                <input 
                                    type="checkbox" name="mechanisms" value="{{ mechanism }}" onchange="submitForm()" 
                                    {% if mechanism in selected_mechanism %}checked{% endif %}>
                                {{ mechanism }}
                            </label>
                            {% endfor %}
                        </div>
                        <h3>機構</h3>
                        <div class="button">
                            {% for mechanism in ["リンク機構", "昇降機構"] %}
                            <label>
                                <input 
                                    type="checkbox" name="mechanisms" value="{{ mechanism }}" onchange="submitForm()" 
                                    {% if mechanism in selected_mechanism %}checked{% endif %}>
                                {{ mechanism }}
                            </label>
                            {% endfor %}
                        </div>
                        <h3>センサー</h3>
                        <div class="button">
                            {% for mechanism in ["カラーセンサー"] %}
                            <label>
                                <input 
                                    type="checkbox" name="mechanisms" value="{{ mechanism }}" onchange="submitForm()" 
                                    {% if mechanism in selected_mechanism %}checked{% endif %}>
                                {{ mechanism }}
                            </label>
                            {% endfor %}
                        </div>
                        <h3>動き</h3>
                        <div class="button">
                            {% for mechanism in ["回転する台", "ラチェット", "ライントレース", "クローラー"] %}
                            <label>
                                <input 
                                    type="checkbox" name="mechanisms" value="{{ mechanism }}" onchange="submitForm()" 
                                    {% if mechanism in selected_mechanism %}checked{% endif %}>
                                {{ mechanism }}
                            </label>
                            {% endfor %}
                        </div>
                        <h3>絞り込みオプション</h3>
                        <div class="button">
                            <label>
                                <input type="checkbox" name="sort_by_likes" id="sort-by-likes" onchange="submitForm()">
                                いいね数が多い順
                            </label>
                        </div>
                    </div>
                </details>
            </div>
        </form>

        {% for star, texts in texts_by_star.items() %}
        <section>
            <div class="stars_box">
                <h2 class="text_star">★{{ star }}</h2>
            </div>
            <div class="grid-container">
                {% for text in texts %}
                <div class="grid-item">
                    <img src="{{ url_for('static', filename=text.text_png) }}" alt="{{ text.title }}">
                    <h3>{{ text.title }}</h3>
                    <small>
                        {% for mechanism in text.mechanism.split('、') %}
                        <span class="mechanism-tag">{{ mechanism.strip() }}</span>
                        {% endfor %}
                    </small>
                    <p>{{ text.context }}</p>
                    <div class="like-container">
                        <p>いいね数：<span id="likes-{{ text.id }}">{{ text.likes }}</span></p>
                        <button class="like-button" data-text-id="{{ text.id }}">いいね！</button>
                        {% if session.get('user_type') == 'User' %}
                        <form action="{{ url_for('main.reset_like_text', id=text.id) }}" method="POST" style="display:inline;" onsubmit="return confirm('いいねをリセットしますか？')">
                        <button type="submit">いいねリセット</button>
                        </form>
                        {% endif %}
                    </div>                    
                    <a href="{{ url_for('main.text_detail', id=text.id) }}" class="button-50" data-stars="{{ star }}">
                        テキストを見る
                    </a>
                </div>
                {% endfor %}
            </div>
        </section>
        {% endfor %}
    </main>

    <footer class="footer">
        <nav class="footer-nav">
            <div class="text_item">
                <a href="#">サイトマップ</a>
                <ul>
                    <li><a href="{{ url_for('main.index') }}">テキストページ</a></li>
                    <li><a href="{{ url_for('main.mechanism') }}">機構の説明</a></li>
                </ul>
            </div>
            <a href="{{ url_for('main.index') }}">トップ</a>
            <div class="text_item">
                <a href="#">リンク
                    <ul>
                        <li><a href="https://docs.google.com/forms/d/e/1FAIpQLSdLXEhs-E4C8cFYCvby7iktfm9dJuClfRFH-XbwikIdS_pWBg/viewform">作品作成依頼</a></li>
                    </ul>
                </a>
            </div>
            <div class="text_item">
                <a href="#">だおだおテキスト</a>
                <div>
                    <ul>
                        <li><a href="{{ url_for('main.text_detail', id=1) }}">クローラー</a></li>
                        <li><a href="{{ url_for('main.text_detail', id=2) }}">ロボットハンド</a></li>
                        <li><a href="{{ url_for('main.text_detail', id=3) }}">たじたじくん</a></li>
                        <li><a href="{{ url_for('main.text_detail', id=4) }}">エレベーター</a></li>
                        <li><a href="{{ url_for('main.text_detail', id=5) }}">ターンテーブル</a></li>
                    </ul>
                    <ul>
                        <li><a href="{{ url_for('main.text_detail', id=6) }}">モノレール</a></li>
                        <li><a href="{{ url_for('main.text_detail', id=7) }}">ステアリングカー</a></li>
                        <li><a href="{{ url_for('main.text_detail', id=8) }}">ライントレース</a></li>
                        <li><a href="{{ url_for('main.text_detail', id=9) }}">二足歩行ロボット</a></li>
                        <li><a href="{{ url_for('main.text_detail', id=10) }}">六足歩行ロボット</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <h1 class="footerbottom">@2025 DaoDao_Text_Page</h1>
    </footer>    

    <script src="{{ url_for('static', filename='javascript/mainscript.js') }}"></script>
</body>
</html>
