<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <!-- スマホ表示に対応 -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ロボット機構の基礎知識</title>
  <!-- Bootstrap読み込み -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/mechanismstyle.css') }}">
</head>
<body>
    <header class="header">
        <div class="logo">
            <a href="{{ url_for('main.index') }}">
                <img src="{{ url_for('static', filename='uploads/だおだおロゴ.png') }}" alt="だおだおテキスト" class="triangle-logo">
            </a>
        </div>
        <div class="nav">
            <div class="nav-item" onclick="toggleDropdown(this)">
                <img src="{{ url_for('static', filename='uploads/歯車.png') }}" alt="説明" class="nav-icon">
                機構の説明
                <div class="dropdown-menu">
                    <a href="{{ url_for('main.mechanism') }}">ロボット基礎知識</a>
                    <a href="{{ url_for('main.gears') }}">ギアの種類</a>
                    <a href="{{ url_for('main.movement') }}">移動方式</a>
                    <a href="{{ url_for('main.basic_mechanisms') }}">基本機構</a>
                    <a href="{{ url_for('main.sensors') }}">センサー</a>
                    <a href="{{ url_for('main.special_mechanisms') }}">特殊機構</a>
                </div>
            </div>
            <div class="nav-item" onclick="toggleDropdown(this)">
                <img src="{{ url_for('static', filename='uploads/リンク.png') }}" alt="リンク" class="nav-icon">
                リンク
                <div class="dropdown-menu">
                    <a href="">だおだお作成作品</a>
                    <a href="https://www.lego.com/ja-jp">LEGO公式サイト</a>
                    <a href="https://akiyuki.jp/">外部リンク1</a>
                </div>
            </div>
            <div class="nav-item" onclick="toggleDropdown(this)">
                <img src="{{ url_for('static', filename='uploads/作成依頼リンク.png') }}" alt="依頼" class="nav-icon">
                作成依頼リンク
                <div class="dropdown-menu">
                    <a href="https://docs.google.com/forms/d/e/1FAIpQLSdLXEhs-E4C8cFYCvby7iktfm9dJuClfRFH-XbwikIdS_pWBg/viewform">Googleフォーム</a>
                    <a href="#">その他のリンク</a>
                </div>
            </div>
            <div class="nav-item" onclick="toggleDropdown(this)">
                <img src="{{ url_for('static', filename='uploads/ログイン.png') }}" alt="ログイン" class="nav-icon">
                ログイン
                <div class="dropdown-menu">
                    <a href="{{ url_for('auth.login') }}">ログイン</a>
                </div>
            </div>
        </div>
    </header>

    <main class="container py-5">
        <h1 class="text-center">特殊機構</h1>

        <ul class="nav nav-pills mb-4 justify-content-center" id="mechanismTabs">
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('main.mechanism')}}">ロボット基礎知識</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('main.gears') }}">ギアの種類</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('main.movement') }}">移動方式</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('main.basic_mechanisms') }}">基本機構</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('main.sensors') }}">センサー</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('main.special_mechanisms') }}">特殊機構</a>
            </li>
        </ul>

        <div class="row">
            <div class="col-12">
                <div class="card mechanism-card">
                    <div class="card-body">
                        <h5 class="card-title">ラチェット</h5>
                        <p class="card-text">ラチェット機構は、一方向にのみ動くことを可能にするために使用されます。レゴでは、特定の動作を制御するために利用されます。</p>
                    </div>
                </div>
            </div>

            <div class="col-12">
                <div class="card mechanism-card">
                    <div class="card-body">
                        <h5 class="card-title">ライントレース</h5>
                        <p class="card-text">ライントレースは、センサーを使用して特定のラインに沿って移動する機構です。レゴのロボットにおいて、カラーセンサーを用いて実現されます。</p>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="card mechanism-card">
                    <div class="card-body">
                        <h5 class="card-title">クローラー</h5>
                        <p class="card-text">クローラーは、地面を這うように移動する機構で、レゴのロボットや車両において、安定した走行を実現するために使用されます。</p>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <footer class="footer">
        <nav class="footer-nav">
            <div class="text_item">
                <a href="#">サイトマップ</a>
                <ul>
                    <li><a href="{{ url_for('main.index') }}">テキストページ</a></li>
                    <li><a href="{{ url_for('main.mechanism') }}">機構の説明</a></li>
                </ul>
            </div>
            <a href="{{ url_for('main.index') }}">トップ</a>
            <div class="text_item">
                <a href="#">リンク
                    <ul>
                        <li><a href="https://docs.google.com/forms/d/e/1FAIpQLSdLXEhs-E4C8cFYCvby7iktfm9dJuClfRFH-XbwikIdS_pWBg/viewform">作品作成依頼</a></li>
                    </ul>
                </a>
            </div>
            <div class="text_item">
                <a href="#">だおだおテキスト</a>
                <div>
                    <ul>
                        <li><a href="{{ url_for('main.text_detail', id=1) }}">クローラー</a></li>
                        <li><a href="{{ url_for('main.text_detail', id=2) }}">ロボットハンド</a></li>
                        <li><a href="{{ url_for('main.text_detail', id=3) }}">たじたじくん</a></li>
                        <li><a href="{{ url_for('main.text_detail', id=4) }}">エレベーター</a></li>
                        <li><a href="{{ url_for('main.text_detail', id=5) }}">ターンテーブル</a></li>
                    </ul>
                    <ul>
                        <li><a href="{{ url_for('main.text_detail', id=6) }}">モノレール</a></li>
                        <li><a href="{{ url_for('main.text_detail', id=7) }}">ステアリングカー</a></li>
                        <li><a href="{{ url_for('main.text_detail', id=8) }}">ライントレース</a></li>
                        <li><a href="{{ url_for('main.text_detail', id=9) }}">二足歩行ロボット</a></li>
                        <li><a href="{{ url_for('main.text_detail', id=10) }}">六足歩行ロボット</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <h1 class="footerbottom">@2025 DaoDao_Text_Page</h1>
    </footer>

  <!-- Bootstrap JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.2/js/bootstrap.bundle.min.js"></script>
  <script src="{{ url_for('static', filename='javascript/mechanismscript.js') }}"></script>
</body>
</html>
