<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ text.title }}</title>
    <!-- Bootstrap読み込み -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/textstyle.css') }}">
</head>
<body>
    <header class="header">
        <div class="logo">
            <a href="{{ url_for('main.index') }}">
                <img src="{{ url_for('static', filename='uploads/だおだおロゴ.png') }}" alt="だおだおテキスト" class="triangle-logo">
            </a>
        </div>
        <div class="nav">
            <div class="nav-item" onclick="toggleDropdown(this)">
                <img src="{{ url_for('static', filename='uploads/歯車.png') }}" alt="説明" class="nav-icon">
                機構の説明
                <div class="dropdown-menu">
                    <a href="{{ url_for('main.mechanism') }}">ロボット基礎知識</a>
                    <a href="{{ url_for('main.gears') }}">ギアの種類</a>
                    <a href="{{ url_for('main.movement') }}">移動方式</a>
                    <a href="{{ url_for('main.basic_mechanisms') }}">基本機構</a>
                    <a href="{{ url_for('main.sensors') }}">センサー</a>
                    <a href="{{ url_for('main.special_mechanisms') }}">特殊機構</a>
                </div>
            </div>
            <div class="nav-item" onclick="toggleDropdown(this)">
                <img src="{{ url_for('static', filename='uploads/リンク.png') }}" alt="リンク" class="nav-icon">
                リンク
                <div class="dropdown-menu">
                    <a href="">だおだお作成作品</a>
                    <a href="https://www.lego.com/ja-jp">LEGO公式サイト</a>
                    <a href="https://akiyuki.jp/">外部リンク1</a>
                </div>
            </div>
            <div class="nav-item" onclick="toggleDropdown(this)">
                <img src="{{ url_for('static', filename='uploads/作成依頼リンク.png') }}" alt="依頼" class="nav-icon">
                作成依頼リンク
                <div class="dropdown-menu">
                    <a href="https://docs.google.com/forms/d/e/1FAIpQLSdLXEhs-E4C8cFYCvby7iktfm9dJuClfRFH-XbwikIdS_pWBg/viewform">Googleフォーム</a>
                    <a href="#">その他のリンク</a>
                </div>
            </div>
            <div class="nav-item" onclick="toggleDropdown(this)">
                <img src="{{ url_for('static', filename='uploads/ログイン.png') }}" alt="ログイン" class="nav-icon">
                ログイン
                <div class="dropdown-menu">
                    <a href="{{ url_for('auth.login') }}">ログイン</a>
                </div>
            </div>
        </div>
    </header>

    <main class="container-fluid" style="padding: 20px;">
        <h2 class="text-center">{{ text.title }}</h2>
        <p class="text-center">{{ text.context }}</p>
        <div class="section-title">使用している機構</div>
        <div class="text-center">
            {% for mechanism in text.mechanism.split(",") %}
                <span class="mechanism-tag">{{ mechanism.strip() }}</span>
            {% endfor %}
        </div>

        <div class="section-title">テキスト内容</div>
        <object
            class="pdf-container"
            data="{{ url_for('static', filename=text.pdf_path) }}"
            type="application/pdf"
            width="100%"
            height="600">
            <p><a href="{{ url_for('static', filename=text.pdf_path) }}" target="_blank">このボタンを押してテキストを表示</a></p>
        </object>
        <!-- <h1 class="text-center my-4 display-4">その他のテキスト</h1>
        <div id="textSlider" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <a href="{{ url_for('main.text_detail', id=1) }}" class="img-slide-link">
                        <img src="{{ url_for('static', filename='uploads/クローラー.png') }}" alt="クローラー" class="d-block w-100 img-slide">
                    </a>
                    <div class="carousel-caption d-none d-md-block">
                        <h5>クローラー</h5>
                        <p>みんな大好きクローラー。凸凹な地形も走れる</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <a href="{{ url_for('main.text_detail', id=4) }}" class="img-slide-link">
                        <img src="{{ url_for('static', filename='uploads/エレベーター.png') }}" alt="エレベーター" class="d-block w-100 img-slide">
                    </a>
                    <div class="carousel-caption d-none d-md-block">
                        <h5>エレベーター</h5>
                        <p>ラックギアを使ったエレベーター。簡単にレールを伸ばせるよ。</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <a href="{{ url_for('main.text_detail', id=7) }}" class="img-slide-link">
                        <img src="{{ url_for('static', filename='uploads/ステアリングカー.png') }}" alt="ステアリングカー" class="d-block w-100 img-slide">
                    </a>
                    <div class="carousel-caption d-none d-md-block">
                        <h5>ステアリングカー</h5>
                        <p>タイヤ4つだけど曲がれるくるま。プログラムが難しいかも</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <a href="{{ url_for('main.text_detail', id=2) }}" class="img-slide-link">
                        <img src="{{ url_for('static', filename='uploads/ロボットハンド.png') }}" alt="ロボットハンド" class="d-block w-100 img-slide">
                    </a>
                    <div class="carousel-caption d-none d-md-block">
                        <h5>ロボットハンド</h5>
                        <p>めっちゃ簡単なロボットハンド。UFOキャッチャーなどでつかえるかも？</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <a href="{{ url_for('main.text_detail', id=8) }}" class="img-slide-link">
                        <img src="{{ url_for('static', filename='uploads/ライントレース.png') }}" alt="ライントレース" class="d-block w-100 img-slide">
                    </a>
                    <div class="carousel-caption d-none d-md-block">
                        <h5>ライントレース</h5>
                        <p>モーター1つで左右に曲がれるよ。走らせるラインが必要だよ。</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <a href="{{ url_for('main.text_detail', id=10) }}" class="img-slide-link">
                        <img src="{{ url_for('static', filename='uploads/六足歩行ロボット.png') }}" alt="六足歩行ロボット" class="d-block w-100 img-slide">
                    </a>
                    <div class="carousel-caption d-none d-md-block">
                        <h5>六足歩行ロボット</h5>
                        <p>6本の足でとことこ歩くよ。上級者向けだね‼</p>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#textSlider" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#textSlider" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div> -->
    </main>

    <footer class="footer">
        <nav class="footer-nav">
            <div class="text_item">
                <a href="#">サイトマップ</a>
                <ul>
                    <li><a href="{{ url_for('main.index') }}">テキストページ</a></li>
                    <li><a href="{{ url_for('main.mechanism') }}">機構の説明</a></li>
                </ul>
            </div>
            <a href="{{ url_for('main.index') }}">トップ</a>
            <div class="text_item">
                <a href="#">リンク
                    <ul>
                        <li><a href="https://docs.google.com/forms/d/e/1FAIpQLSdLXEhs-E4C8cFYCvby7iktfm9dJuClfRFH-XbwikIdS_pWBg/viewform">作品作成依頼</a></li>
                    </ul>
                </a>
            </div>
            <div class="text_item">
                <a href="#">だおだおテキスト</a>
                <div>
                    <ul>
                        <li><a href="{{ url_for('main.text_detail', id=1) }}">クローラー</a></li>
                        <li><a href="{{ url_for('main.text_detail', id=2) }}">ロボットハンド</a></li>
                        <li><a href="{{ url_for('main.text_detail', id=3) }}">たじたじくん</a></li>
                        <li><a href="{{ url_for('main.text_detail', id=4) }}">エレベーター</a></li>
                        <li><a href="{{ url_for('main.text_detail', id=5) }}">ターンテーブル</a></li>
                    </ul>
                    <ul>
                        <li><a href="{{ url_for('main.text_detail', id=6) }}">モノレール</a></li>
                        <li><a href="{{ url_for('main.text_detail', id=7) }}">ステアリングカー</a></li>
                        <li><a href="{{ url_for('main.text_detail', id=8) }}">ライントレース</a></li>
                        <li><a href="{{ url_for('main.text_detail', id=9) }}">二足歩行ロボット</a></li>
                        <li><a href="{{ url_for('main.text_detail', id=10) }}">六足歩行ロボット</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <h1 class="footerbottom">@2025 DaoDao_Text_Page</h1>
    </footer>

  <!-- Bootstrap JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.2/js/bootstrap.bundle.min.js"></script>
  <script src="{{ url_for('static', filename='javascript/textscript.js') }}"></script>
</body>
</html>
